<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazeKitHub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deployments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Deployments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="offline-tools">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Offline Tools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="online-tools">
                <span class="oi oi-browser" aria-hidden="true"></span> Online Tools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="info">
                <span class="oi oi-info" aria-hidden="true"></span> API Details
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="module-generator">
                <span class="oi oi-code" aria-hidden="true"></span> Module Generator
            </NavLink>
        </div>     
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="links">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Useful Links
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="se-credentials">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> SE Credentials
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
