<div style="display: flex; flex-direction: column; height: 100vh;">
    <div style="flex: 1;">
        <MudNavMenu Color="Color.Primary" Bordered="true" Margin="Margin.Normal">
            @foreach (var link in GetNavigationLinks())
            {
                <MudNavLink Href="@link.Href" Match="@link.Match" Icon="@link.Icon" Style="py-5">@link.Text</MudNavLink>
            }
        </MudNavMenu>
    </div>
    <div style="flex-shrink: 0;">
        <MudNavLink Style="py-5;" Disabled>Version 1.0.0</MudNavLink>
    </div>
</div>


@code {
    private List<NavLinkInfo> GetNavigationLinks()
    {
        return new List<NavLinkInfo>
        {
            new NavLinkInfo("/", Icons.Material.Rounded.Home, "Home", NavLinkMatch.All),
            new NavLinkInfo("/deployments",  Icons.Material.Rounded.ViewList, "Deployments"),
            new NavLinkInfo("/offline-tools",  Icons.Material.Rounded.DownloadForOffline, "Offline Tools"),
            new NavLinkInfo("/online-tools",  Icons.Material.Rounded.CloudUpload, "Online Tools"),
            new NavLinkInfo("/info",  Icons.Material.Rounded.Info, "API Details"),
            new NavLinkInfo("/code-generator",  Icons.Material.Rounded.Code, "Code Generator"),
            new NavLinkInfo("/links",  Icons.Material.Rounded.AddLink, "Useful Links"),
            new NavLinkInfo("/credentials-manager",  Icons.Material.Rounded.Login, "My Credentials"),
        };
    }

    private class NavLinkInfo
    {
        public NavLinkInfo(string href, string icon, string text, NavLinkMatch match = NavLinkMatch.All)
        {
            Href = href;
            Match = match;
            Icon = icon;
            Text = text;
        }

        public string Href { get; }
        public NavLinkMatch Match { get; }
        public string Icon { get; }
        public string Text { get; }
    }
}

