@page "/"
@inject IJSRuntime jsRuntime
<PageTitle>Home</PageTitle>

<h1>BlazeKitHub</h1>

<br>
<br>
<h2>All tools in single application</h2>

Here you can find all tools that can help you in your daily work life

<br>
<br>

You can generate your module and tests using <MudLink Href="/code-generator">Code Generator</MudLink> or
samples using <MudLink Href="/offline-tools">Samples Maker</MudLink>.
<br>
<br>

    You can check/add/remove deployed modules on server using <MudLink Href="/deployments">Deployment Tool</MudLink> or
    do performance comparisons using  <MudLink Href="/online-tools">Performance Calculator</MudLink>
<br>
<br>

You can generate addresses in any type of address object using <MudLink Href="/offline-tools">Address Generator</MudLink> and re-use it without making the same efforts again.
<br>
<br>
<MudLink Href="/request-generator">Request generator</MudLink> is a tool which is designed to create multiple requests with respect to different combinations of Sender and Receiver countries.

<br>
<br>
Keep thinking of more ideas to automate manual work.
<br>
<br>

Feel free to share
<MudLink Href="mailto:tariqkhan051@outlook.com?subject = BlazeKitHub Feedback&body = Here's my feedback'">
    your feedback or suggestions
</MudLink>
<br>
<br>

Happy Development! :)
<br>
<br>

We are tracking you for security concerns.

<div id="text"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeAsync<object>("GetAddress");
    }
}