@page "/request-generator"
<PageTitle>Request Generator</PageTitle>

<br>
<div class="modal-body">
<iframe src="http://bari-002:3936/request-generator" frameborder="0" scrolling="no"  style='height: 800px; width: 100%;'>

</iframe>
</div>

@code {

}
