<div class="form-row">
    <button data-toggle="collapse" data-target="#@CollapsibleElementID" class="btn btn-light"><b class="bi bi-caret-down-fill" style="color:darkslategrey">@Title</b></button>
    <hr style="width:100%"/>
</div>
<div id="@CollapsibleElementID" class="collapse">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? CollapsibleElementID { get; set; }
}
